<section>
  <article>
    <h3>Aula 09 - Interpolation/interpolação</h3>
    <p>String redenrizada com interpolação {{ url }}</p>
    <p>O resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>O resultado de 1+1 não é {{ 1 + 1 + getValor() }}</p>
    <p>
      Curso de Angular e gosto do curso: {{ cursoAngular && getCursoAngular() }}
    </p>
    <p>Imagem com interpolação</p>
    <img src="{{ urlImagem }}" />
  </article>
  <article>
    <h3>Property Binding</h3>
    <p>Imagem com Property Binding</p>
    <img [src]="urlImagem" />
    <p>Explicando: O que o angular faz a ler '[src]' é substituir por 'bind-src' e então realiza o bind desejado. </p>
    <img bind-src="urlImagem" />
  </article>
</section>
