<section>
  <article>
    <h3>
      Two-way data binding
    </h3>
    <div>
      Utilizando o property para receber o valor vindo do componente e o evento input para replicar o conteúdo.<br>
      <input type="text"
        [value]="nome"
        (input)="nome = $event.target.value"
      />
      <br><br>
      Utilizando a property ngModel para para receber o valor vindo do componente e o evento ngModelChange para replicar conteúdo, o angular realiza abstações no evento.<br>
      <input type="text"
      [ngModel]="nome"
      (ngModelChange)="nome = $event"
      />
      <br><br>
      Utiliza o Two Way data binding para capturar e replicar o valor as variaveis.<br>
      <input type="text" [(ngModel)]="nome">
      <br><br>
      <p><b>Você digitou: {{ nome }}</b></p>
      
      
      Utilizando o Two way data binding com o bjetos <br><br>
      <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade.</p>

      <input type="text" [(ngModel)]="pessoa.nome">
      <input type="text" [(ngModel)]="pessoa.idade">
      <br><br>


      Observações: <br>É necessário ter o Forms módule importado no app.module.  
      <br>
      <i>1 - import ... from '@angular/forms';</i><br>
      <i>2 - Para lembrar a ordem seguir a expressão Banana in box [()]</i>
    </div>
  </article>
</section>